<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/skeleton/skeleton.css" charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/skeleton/normalize.css" charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/style.css" charset="utf-8"/>
</head>
	<body>
		<div class="topRight">
			<p class="id_text">Welcome <%= username %></p>
			<a href="/logout">Logout</a>
		</div>
		<div class="row">
      <div class="sixteen columns">
        <img id="logo" src="images/logo.png" alt="BrowseBetter"/>
        <h1 class="mainTitles">Set Up Your Academic Platform</h1>
      </div>
    </div>

		<form action="/getScore" method="POST">
		<div class="form marginTop">
			<div class="formItem">
					<div class="webCard">
						<div class="webCard_header"></div>
						<div class="webCard_menu" id="webCard_menu1"></div>
					</div>
					<input type="radio" id="r1" name="score" value="1">
			</div>

			<div class="formItem" id="formItem2">
					<div class="webCard">
						<div class="webCard_header"></div>
						<div class="webCard_menu" id="webCard_menu2"></div>
					</div>
					<input type="radio" id="r2" name="score" value="2">
		 </div>

			<div class="formItem" id="formItem3">
					<div class="webCard">
						<div class="webCard_header"></div>
						<div class="webCard_menu" id="webCard_menu3"></div>
					</div>
					<input type="radio" id="r2" name="score" value="3">
			</div>
		</div>
		<br>
			<input class="marginTop" id="cta" type="submit" name="save" value="Save"><br />
			<a href="/backToMain"><input class="little-marginTop" type="button" name="cancel" value="Cancel"></a>
		</form>
	</body>
</html>
