<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/skeleton/skeleton.css" charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/skeleton/normalize.css" charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/style.css" charset="utf-8"/>
</head>
	<body>
		<div class="topLeft">
			<a href="/backToMain">&lt; Back to Platforms</a>
		</div>
		<div class="topRight">
			<p class="id_text">Welcome <%= username %></p>
			<a href="/logout">Logout</a>
		</div>
		<div class="row">
      <div class="sixteen columns">
        <img id="logo" src="images/logo.png" alt="BrowseBetter"/>
        <h1 class="mainTitles">Choose a Brand</h1>
      </div>
    </div>
		<div class="miniWrapper">
		<div class="row marginTop">
			<div class="fourHalf columns cardPad">
				<div class="card">
					<div class="cardImg">
						<img src="https://gc4women.org/wp-content/uploads/2017/12/IMG_6171.jpg" title="NYU"/>
					</div>
					<h2>New York University</h2>
					<div class="cardButton">
					<a href="/backToMain"><input class="cardButton_button" type="button" name="browse" value="Browse"></a>
				</div>
				</div>
			</div>
			<div class="fourHalf columns cardPad">
				<div class="card">
					<div class="cardImg">
						<img src="http://assets.ce.columbia.edu/i/ce/intl/intl-fp@2x.jpg" title="Columbia"/>
					</div>
					<h2>Columbia University</h2>
					<div class="cardButton">
					<input class="cardButton_button" type="button" name="browse" value="Browse">
				</div>
				</div>
			</div>
			<div class="fourHalf columns cardPad">
				<div class="card">
					<div class="cardImg">
						<img src="http://doubletree3.hilton.com/resources/media/dt/PCTDTDT/en_US/img/shared/full_page_image_gallery/main/DT_princetoncampusbuildin_5.jpg" title="Princeton"/>
					</div>
					<h2>Princeton University</h2>
					<div class="cardButton">
					<input class="cardButton_button" type="button" name="browse" value="Browse">
				</div>
				</div>
			</div>
		</div>
	</div><!--Close miniWrapper-->
	</body>
</html>
