<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css" charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/skeleton/skeleton.css" charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/skeleton/normalize.css" charset="utf-8"/>
  </head>

  <body>
    <div class="row">
      <div class="sixteen columns">
        <a href="/"><img id="logo" src="images/logo.png" alt="BrowseBetter"/></a>
        <h1 class="mainTitles">Login</h1>
      </div>
    </div>

    <div class="row">
      <div class="sixteen columns">
			<form  class="superExtraPad" action="/login" method="POST">
				<input type="text" name="username" placeholder="Username"><br />
				<input type="password" name="password" placeholder="Password"><br />
        <input id="cta" class="marginTop" type="submit" name="submit" value="Submit"><br />
        <a href="/"><input class="little-marginTop" type="button" name="cancel" value="Cancel"></a>
			</form>
		</div>
  </div>
  </body>
  </html>
